
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}

p {
  font-size: 18px;
  margin-bottom: 1.5rem;
  letter-spacing: 0.025em;
  line-height: 2rem;
}

p:last-child {
  margin-bottom:0;
}

li a:hover {
  color: white;
}

p a:hover {
  color: orange;
}

.fix-left-panel {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  min-height: 20%;
  overflow: hidden;
  z-index: 9999;
}
